.headerContainer {
  align-items: center;
  background-color: #255161;
  display: flex;
  height: 8vh;
  justify-content: space-between;
}

.headerInfoContainer {
  display: flex;
}

.headerTitle {
  font-size: 25px;
  margin: 0 20px;
}

.headerText {
  margin: 0 10px;
}

.headerInfo {
  display: flex;
}
